/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

//@import "compass/reset";


$bgcolor:#fff; //white is default
$typecolor:#333; //offset from black
$grey:tint(#000,50%); //middle grey

@mixin t_style() {
  background-color:transparent;
  color:inherit;
}

@mixin t_style_hover() {
  background-color:transparent;
  color:inherit;
}



$padsize: 1.1rem;

//query widths:

$small-max:40em;
$medium:40.063em; /* min-width 641px, medium screens */
$medium-max:64em;
$large:64.063em; /* min-width 1025px, large screens */
$large-max:90em;
$xlarge:90.063em; /* min-width 1441px, xlarge screens */
$xlarge-max:120em;
$xxlarge:120.063em; /* min-width 1921px, xxlarge screens */


//font-sizes

$ms0: 1rem;
$r: 1.5;

$ms1: $r*$ms0;
$ms2: $r*$ms1;
$ms3: $r*$ms2;
$ms4: $r*$ms3;
$ms5: $r*$ms4;

$line_r:1.2;


body {  
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
  
  color:$typecolor;
  background-color:$bgcolor;
}

a {
  color:$grey;
}

h1,h2,h3,h4 {
  color:$grey;
}

h1 {
  font-size:$ms3;
}

h2 {
  font-size:$ms2;
}

h3 {
  font-size:$ms1;
}

h4 {
  font-size:$ms0;
  font-weight:bold;
}


/************** STYLES **************/


div#wrapper {
  padding-top:2rem;  
}

.left {
  text-align:left;
}

.right {
  text-align:right;
}


select {
  border:0;
  //border-bottom:1px dotted black;
  color:inherit;
  font-size: inherit;
  line-height: inherit;
  height: inherit;
  background:transparent;
  background-image:none;
  box-shadow:none;    
  padding:0;
  -moz-appearance:none;
  margin-bottom:0;
  width:100%;
  z-index:1;
  
  option {
    color:inherit;
  }  
  
  &:hover {
    background-color:transparent;
  } 
  
   
}

label {
  color:inherit;
}

.select {
  &:after {
    content:"⌄";
    display:inline-block;
    width:1em;
    position: absolute;
    text-align:right;
    right: 1rem;
    z-index:-1;
  }
  
  &:hover {
    //background-color:$lightgray;
  }
}

/************** TOPBAR **************/

.top-bar {
  background-color:transparent;
  color:inherit;
  font-size:$ms0 !important;
  text-transform:none !important;
  
  //@include t_style();
  
  .toggle-topbar a {
    color:inherit;
    text-transform: none;
    font-weight: normal;
    font-size: 1rem;
    //border-left: 1px solid $t_border;
    padding-left: 1rem;
    
  }
  
}

.top-bar.expanded .title-area {
  background-color:transparent;
  color:inherit;
  
  
}


.top-bar-section {
  
  ul li{ 
    background-color:transparent;
    > a {
      color:inherit;
    }
  }
  
  li:not(.has-form) {
    a:not(.button)  {
      background-color:transparent;
      @include t_style();
      line-height:44px; //minus 1px from default, else it fucks up the entire Foundation layout
    }
    
    a:hover:not(.button) {
      @include t_style_hover();
    }    
  }
  
  ul li:hover:not(.has-form) > a {    
      @include t_style_hover();
  }
  
  .dropdown {
    
    li a {
      color:inherit;
    } 
    
    li:not(.has-form):not(.active) > a:not(.button) {
      background-color:transparent;
      color:inherit;
    }
    
    li:hover:not(.has-form):not(.active) > a:not(.button) {
      @include t_style_hover();
    }
    
  }  
  
  li.active:not(.has-form) a:not(.button) {
    @include t_style_hover();
  }
  
  li.active:not(.has-form) a:hover:not(.button) {
    @include t_style_hover();
  }
  
}

#menutitle {
  height:45px;
  line-height:42px;
  color:$grey;
  
  @media screen and (min-width: $medium) {
     // display:none; //do not show elsewhere but mobile
    }
}


/************** HEADING **************/

header#pagetitle {
  display:none;
  
  @media screen and (min-width: $medium) {
      height:5*$ms2;
    } 
  
  
  
  //text-align:center;
  
  h1 {
    font-size:$ms2;
    height:$ms5;
    margin-top:$ms3;
    
    span#subtitle {
      display:none; //not on mobile
      font-size:$ms0;
      
      @media screen and (min-width: $medium) {
        display:block;
        //text-align:center;
      }
    }
  }
  
}

/************** SEARCH.PHP **************/

#search-box {
  
}

#searchform {
  font-size:$ms0*2;
  line-height:1.2;
  margin:0;
  padding:0;
  
  label, input, span {
    color:inherit;
    font-size:inherit;
    line-height:inherit;
    margin:inherit;
    padding:inherit;
    padding-left:3px;
  }
  
  input[type="text"] {
    border:none;
    //border-bottom:1px dotted black;
    background:none;
    box-shadow:none;
    transition:none;
    
    &:focus {
      
    }
    
  }
  
  input[type="text"]:focus {
    box-shadow:none;
  }
 
  #add-query {
    font-size:1rem;
    line-height:1.5em;
    vertical-align:top;
  }
  
  #search-submit {
    margin-top:1rem;
    display:block;
    padding:0.2em;
    //border-top:1px solid $t_border;
    
  }
  
  #submit-button {
    background:transparent;
    font-size:inherit;
    font-family:inherit;
    display:inline;
    margin:0;
    padding:0;
    //border-bottom:1px solid $secondary;
    
    &:hover,&:focus {
    }
  }
  
  button[type="submit"] {
    
  }
  
  .logic {
    color:tint($grey,60%);
    em {
      font-style:normal;
      color:$grey;
    }
  }
  
}

#nonpriv-groups {
  margin-top:$padsize*2;
  margin-bottom:$padsize;
  font-size:$ms0;
  line-height:1.5;
  
  ul {
    list-style:none;
    margin:0;
    padding:0;
    font:inherit;
    
     li {
      font:inherit;
      color:inherit;
      position:relative;
      
      label {
        color:inherit;
      }
    }    
  }
  
  label {
    display:inline-block;
    width: 100%;
    margin:0;
    
    &:focus {
      
    }
  }
  
  input[type="checkbox"] {
    position:absolute;
    right:0;
  }
}

#list-box {
  padding-top:$ms2;
  //border-left:1px solid $t_border;
  
  div.portrait {
    float:left;
    height:4rem;
    width:1rem;
    text-align:center;
    overflow:hidden;
    
    img {
      position:relative;
      left:50%;
    }
  }
  
  ol {
    margin-left:0;
    margin-bottom:$padsize*2;
    list-style:none;
    
    
  li.woman {
      margin-bottom:2*$padsize;
      margin-left:0.001rem;
      position:relative;
      //padding:0 $padsize;
      //border:1px solid transparent;
      //border-width:1px 0;
      border-left:1px solid transparent;
      
      &.selected {
        //list-style:bullet;
        border-color:$grey;
        
        h3:before {
          content:'– ';                    
        }
      }
      
      .specs ul {
        list-style:none;
        margin:0;
        padding:0;
      }
      
      .tags {
        display:none;
        
        @media screen and (min-width: $large) {
          display:block;
        } 
      }
    } 
  }
  
  ul.action-buttons {
      list-style:none;
      margin-left:0;
      //display:table;
      
      
      li {
        //display:table-cell;
        border:1px solid #ddd;
        text-align:center;
      }
      
      li:nth-child(2){
        text-align:left;
        padding-left:1em;
      }
    }
  
  .pagination {
    text-align:center;
  }
  
}

#list-sort-controls {
    margin-bottom:$padsize;
}

#list-actions {
  //display:none;
  visibility:hidden;
  
  ul {
    margin:0;
    padding:0;
    
    li {        
      display:inline;
    }
  }
}

#sort-actions {
  text-align:right;
  padding-right:0;
  
  label {
    display:inline;
    font-size:inherit;
  }
  
  select {
    display:inline-block;
    width:auto;
  }
  
  .select {
    display:inline-block;
    &.sort {
    display:none;
    }
    
    &.active {
      display:inline;
    }
    
    &:after {
      display:none;
     position: relative;
     left: 0em;
     line-height: 0.1em;
     bottom: 0.2em;
    }
  
  }
}
  
  


/************** SINGLE.PHP **************/

article.woman {
  //padding:$padsize;
  //width:auto;
  
  div.portrait-img {
    //width:100%;
    height:8em;
    overflow:hidden;
    padding:0;
    margin:0;
    
    img {
      //width:100%;
      position:relative;
      top:-50%;
    }
    
     @media screen and (min-width: $medium) {
      height:auto;
    }  
  }
  
  .tagline {
    font-size:$ms1;
    line-height:1.2;
  }
  
  .inner {
    
    & > div {
      //padding-left:$padsize;
      //padding-right:$padsize;
    }
    
    footer p {
      border-top:1px solid $grey;
      padding-top:1em;
    }
  }
  .tagline {
    //border-bottom:1px solid $grey;
    padding-bottom:1em;
  }
  
  .story {
    
    p:first-child {
      border-top:1px solid $grey;
      padding-top:$padsize*2;
    }
  }
  
  .links, .lists, .successes {
    ul {
      list-style:none;
      margin-left:0;      
    }
  }
  
  .lists {
    
    li {
      clear:both;
    }
    
    .thumb-wrap {
      //width:100px;
      //float:left;
      //margin-right:$padsize;
      //margin-bottom:$padsize;
    }
    img.thumb {
      width:150px;
    }
    
  }
    
  .links {
    img {
      display:inline;
    }
  }
  
  footer {
    clear:both;
    margin-top:$padsize;
  }
}


/************** FOOTER **************/

footer#pagefooter {
  height:10em;
}


/************** STYLESETS **************/
//$fontchoice:'andada_scregular';
$fontchoice:'economicaregular';

$fontchoice:'ostrich_sans_inlineregular';
$fontchoice:'josefin_slabsemibold';
$fonchoice:'kelly_slabregular';

.style0 {
  //background-color:shade($bgcolor,5%);
  color:$typecolor; //if the bg is dark, this gets inverted
  
  a:hover,
  .woman.selected h3,
  #searchform,#menutitle,
  h2.name, h3 a,
  .woman.selected h3:before{
    color:#FF6C00 !important;
  }
  
  .woman:hover, {
    border-color:#FF6C00;
  }
  
  h1,h2,h3,
  #searchform,
  #pagetitle a,
  {
    font-family:'Arial';
    font-family:'josefin_slabsemibold';  
  }
  
  #search-submit {
  }
  
}

.style1 {
  
  a:hover,
  .woman.selected h3,
  #searchform,#menutitle,
  h2.name {
    color:#FF6C00 !important;
  }
  
  .woman.selected {
    border-color:#FF6C00;
  }
  
  h1,h2,h3,
  #searchform,
  #pagetitle a {
    font-family:'economicaregular'  
  }
  
}

.style-x {
  
  a:hover,
  .woman.selected h3,
  #searchform,#menutitle,
  h2.name {
    //color:#FF6C00 !important;
  }
  
  .woman.selected {
    border-color:#FF6C00;
  }
  
  h1,h2,h3,
  #searchform,
  #pagetitle a {
    font-family:'andada_scregular'  
  }
  
}


.style2 {
  //background-color:shade($bgcolor,5%);
  color:$typecolor; //if the bg is dark, this gets inverted
  
  a:hover,
  .woman.selected h3,
  #searchform,#menutitle,
  h2.name, h3 a,
  .woman.selected h3:before{
    color:#FF6C00 !important;
  }
  
  .woman:hover, {
    border-color:#FF6C00;
  }
  
  h1,h2,h3,
  #searchform,
  #pagetitle a,
  {
    font-family:'kelly_slabregular';  
  }
  
  #search-submit {
  }
  
}

.style3 {
  //background-color:shade($bgcolor,5%);
  color:$typecolor; //if the bg is dark, this gets inverted
  
  a:hover,
  .woman.selected h3,
  #searchform,#menutitle,
  h2.name, h3 a,
  .woman.selected h3:before{
    color:#FF6C00 !important;
  }
  
  .woman:hover, {
    border-color:#FF6C00;
  }
  
  h1,h2,h3,
  #searchform,
  #pagetitle a,
  {
    font-family:'Arial';
    font-family:'ostrich_sans_inlineregular';
    font-size:2em; 
  }
  
  #search-submit {
  }
  
}

.style4 {
  //background-color:shade($bgcolor,5%);
  color:$typecolor; //if the bg is dark, this gets inverted
  
  a:hover,
  .woman.selected h3,
  #searchform,#menutitle,
  h2.name, h3 a,
  .woman.selected h3:before{
    color:#FF6C00 !important;
  }
  
  .woman:hover, {
    border-color:#FF6C00;
  }
  
  h1,h2,h3,
  #searchform,
  #pagetitle a,
  {
    font-family:'Arial';
    font-family:'six_capsregular'; 
    font-size:3em; 
  }
  
  #search-submit {
  }
  
}