/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

//@import "compass/reset";

$pink:rgba(200,0,50,0.1);
$grey:#bbb;

$type-color:#333;

//$base:#fcfcfc;
$base:#fff;
$navbar-color:$base;

//$accent:#008cba;
//$accent:#E0144E;

$accent:#7EB622;
$accent-light:tint($accent,70%);
$accent-dark:shade($accent, 30%);

//$t_border: #29C68F;
$t_border: cyan;
$secondary:$t_border;

@mixin t_style() {
  background-color:$base;
  color:$type-color;
  border-bottom:1px solid $t_border;
}

@mixin t_style_hover() {
  background-color:$base;
  color:$accent;
}

$padsize: 1.1rem;

//query widths:

$small-max:40em;
$medium:40.063em; /* min-width 641px, medium screens */
$medium-max:64em;
$large:64.063em; /* min-width 1025px, large screens */
$large-max:90em;
$xlarge:90.063em; /* min-width 1441px, xlarge screens */
$xlarge-max:120em;
$xxlarge:120.063em; /* min-width 1921px, xxlarge screens */


//font-sizes

$ms0: 1rem;
$r: 1.5;

$ms1: $r*$ms0;
$ms2: $r*$ms1;
$ms3: $r*$ms2;
$ms4: $r*$ms3;
$ms5: $r*$ms4;

$line_r:1.2;


body {  
  background:$base;
  color:$type-color;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
}

h1 {
  font-size:$ms3;
}

h2 {
  font-size:$ms2;
}

h3 {
  font-size:$ms1;
}

h4 {
  font-size:$ms0;
  font-weight:bold;
}

/************** TEMP (DEVSTYLES) **************/

body#blank 
{
  * {
    color:transparent !important;
  } 

  div, ol, ul, li, canvas {
    background-color:$pink;
  }
  
    canvas#header-graphics {
    background-color:rgba(50,0,200,0.1);
  }
    header#pagetitle, footer#pagefooter {
    background-color:rgba(0,50,200,0.1);
  }
  
  #list-box {
    li {
      background-color:rgba(0,200,0,0.1);
    }     
  }
  
}

body#outline {
  div, ol, ul, li, canvas {
    border:1px solid $pink;
  }
}

/************** STYLES **************/


div#wrapper {
  padding-top:2rem;
  
  
  a {
    color:$accent;
  }
  
  a:hover {
    //color:$accent-dark;
    color:$secondary;
  }
  
  .button {
    background-color:$accent;
    color:white;
  }
  
  .button:hover {
    color:$accent-light;  
  }
  
  
  ul.pagination {
    li.current a {
      background-color:$accent;
      color:white;
    }
  }
}

.left {
  text-align:left;
}

.right {
  text-align:right;
}


select {
  border:0;
  //border-bottom:1px dotted black;
  color:$accent;
  font-size: inherit;
  line-height: inherit;
  height: inherit;
  background:transparent;
  background-image:none;
  box-shadow:none;    
  padding:0;
  -moz-appearance:none;
  margin-bottom:0;
  width:100%;
  z-index:1;
  
  option {
    color:$type_color;
  }  
  
  &:hover {
    background-color:transparent;
  }  
}

.select {
  &:after {
    content:"⌄";
    display:inline-block;
    width:1em;
    position: absolute;
    right: 1rem;
    z-index:-1;
  }
}

/************** TOPBAR **************/

.top-bar {
  background-color:$navbar-color;
  color:$type-color;
  font-size:$ms0 !important;
  text-transform:none !important;
  
  //@include t_style();
  
  .toggle-topbar a {
    color:$type-color;
    text-transform: none;
    font-weight: normal;
    font-size: 1rem;
    border-left: 1px solid $t_border;
    padding-left: 1rem;
    
  }
  
}

.top-bar.expanded .title-area {
  background-color:$navbar-color;
  color:$type-color;
  
  
}


.top-bar-section {
  $hover-navbar-color:shade($navbar-color,10%);  
  
  ul li > a {
    color:$type-color;
  }
  
  li:not(.has-form) {
    a:not(.button)  {
      background-color:$navbar-color;
      @include t_style();
      line-height:44px; //minus 1px from default, else it fucks up the entire Foundation layout
    }
    
    a:hover:not(.button) {
      @include t_style_hover();
    }    
  }
  
  ul li:hover:not(.has-form) > a {    
      @include t_style_hover();
  }
  
  .dropdown {
    
    li a {
      color:$type-color;
    } 
    
    li:not(.has-form):not(.active) > a:not(.button) {
      background-color:$navbar-color;
      color:$type-color;
    }
    
    li:hover:not(.has-form):not(.active) > a:not(.button) {
      @include t_style_hover();
    }
    
  }  
  
  li.active:not(.has-form) a:not(.button) {
    @include t_style_hover();
  }
  
  li.active:not(.has-form) a:hover:not(.button) {
    @include t_style_hover();
  }
  
}

#menutitle {
  color:$accent;
  border-bottom:1px solid $t_border;
  height:45px;
  line-height:42px;
  
  @media screen and (min-width: $medium) {
     // display:none; //do not show elsewhere but mobile
    }
}


/************** HEADING **************/

header#pagetitle {
  display:none;
  
  @media screen and (min-width: $medium) {
      height:5*$ms2;
    } 
  
  
  
  //text-align:center;
  
  h1 {
    font-size:$ms2;
    height:$ms5;
    margin-top:$ms3;
    
    span#subtitle {
      display:none; //not on mobile
      font-size:$ms0;
      
      @media screen and (min-width: $medium) {
        display:block;
        //text-align:center;
      }
    }
  }
  
}

/************** SEARCH.PHP **************/

#search-box {
  
}

#searchform {
  //color:$accent;
  font-size:$ms1;
  line-height:1.2;
  margin:0;
  padding:0;
  
  label, input {
    color:inherit;
    font-size:inherit;
    line-height:inherit;
    margin:inherit;
    padding:inherit;
    padding-left:3px;
  }
  
  input[type="text"] {
    border:none;
    //border-bottom:1px dotted black;
    color:$accent;
    background:none;
    box-shadow:none;
    transition:none;
    
    &:focus {
      
    }
    
  }
  
  input[type="text"]:focus {
    box-shadow:none;
  }
 
  #add-query {
    font-size:1rem;
    line-height:1.5em;
    vertical-align:top;
  }
  
  #search-submit {
    margin-top:1rem;
    display:block;
    padding:0.2em;
    border-top:1px solid $t_border;
    
  }
  
  #submit-button {
    background:transparent;
    font-size:inherit;
    color:$accent;
    display:inline;
    margin:0;
    padding:0;
    border-bottom:1px solid $secondary;
    
    &:hover,&:focus {
      color:$secondary;
    }
  }
  
  button[type="submit"] {
    
  }
  
  .logic {
    color:$grey;
    em {
      font-style:normal;
      color:$type_color;
    }
  }
  
}

#nonpriv-groups {
  margin-top:$padsize*2;
  margin-bottom:$padsize;
  font-size:$ms0;
  line-height:1.5;
  
  ul {
    list-style:none;
    margin:0;
    padding:0;
    font:inherit;
    
     li {
      font:inherit;
      color:inherit;
      position:relative;
      
      label {
        color:$accent;
      }
    }    
  }
  
  label {
    display:inline-block;
    width: 100%;
    margin:0;
    
    &:focus {
      
    }
  }
  
  input[type="checkbox"] {
    position:absolute;
    right:0;
  }
}

#list-box {
  padding-top:$ms2;
  border-left:1px solid $t_border;
  
  div.portrait {
    float:left;
    height:4rem;
    width:1rem;
    text-align:center;
    overflow:hidden;
    
    img {
      position:relative;
      left:50%;
    }
  }
  
  ol {
    margin-left:0;
    margin-bottom:$padsize*2;
    list-style:none;
    
    
  li.woman {
      margin-bottom:2*$padsize;
      //padding:0 $padsize;
      border:1px solid transparent;
      border-width:1px 0;
      
      &.selected, &:hover {
        background-color:rgba($secondary, 0.2);
        border-color:$secondary;   
      }
      
      .specs ul {
        list-style:none;
        margin:0;
        padding:0;
      }
      
      .tags {
        display:none;
        
        @media screen and (min-width: $large) {
          display:block;
        } 
      }
    } 
  }
  
  ul.action-buttons {
      list-style:none;
      margin-left:0;
      //display:table;
      
      
      li {
        //display:table-cell;
        border:1px solid #ddd;
        text-align:center;
      }
      
      li:nth-child(2){
        text-align:left;
        padding-left:1em;
      }
    }
  
  .pagination {
    text-align:center;
  }
  
}

#list-sort-controls {
    margin-bottom:$padsize;
}

#list-actions {
  //display:none;
  visibility:hidden;
  
  ul {
    margin:0;
    padding:0;
    
    li {        
      display:inline;
    }
  }
}

#sort-actions {
  text-align:right;
  padding-right:0;
  
  label {
    display:inline;
    font-size:inherit;
  }
  
  select {
    display:inline-block;
    width:auto;
  }
  
  .select {
    display:inline-block;
    &.sort {
    display:none;
    }
    
    &.active {
      display:inline;
    }
    
    &:after {
      display:none;
     position: relative;
     left: 0em;
     line-height: 0.1em;
     bottom: 0.2em;
    }
  
  }
}
  
  


/************** SINGLE.PHP **************/

article.woman {
  //padding:$padsize;
  //width:auto;
  
  div.portrait-img {
    //width:100%;
    height:8em;
    overflow:hidden;
    padding:0;
    margin:0;
    
    img {
      //width:100%;
      position:relative;
      top:-50%;
    }
    
     @media screen and (min-width: $medium) {
      height:auto;
    }  
  }
  h2.name {
    color:$accent;
  }
  
  .tagline {
    font-size:$ms1;
    line-height:1.2;
  }
  
  .inner {
    
    & > div {
      //padding-left:$padsize;
      //padding-right:$padsize;
    }
    
    footer p {
      border-top:1px solid $grey;
      padding-top:1em;
    }
  }
  .tagline {
    //border-bottom:1px solid $grey;
    padding-bottom:1em;
  }
  
  .story {
    
    p:first-child {
      border-top:1px solid $secondary;
      padding-top:$padsize*2;
    }
  }
  
  .links, .lists, .successes {
    ul {
      list-style:none;
      margin-left:0;      
    }
  }
  
  .lists {
    
    li {
      clear:both;
    }
    
    .thumb-wrap {
      //width:100px;
      //float:left;
      //margin-right:$padsize;
      //margin-bottom:$padsize;
    }
    img.thumb {
      width:150px;
    }
    
  }
    
  .links {
    img {
      display:inline;
    }
  }
  
  footer {
    clear:both;
    margin-top:$padsize;
  }
}


/************** FOOTER **************/

footer#pagefooter {
  height:10em;
}

