/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

//@import "compass/reset";

@import "compass/utilities/color/contrast";


$bgcolor:#fff; //white is default
$typecolor:#333; //offset from black
$grey:tint(#000,50%); //middle grey

@mixin t_style() {
  background-color:transparent;
  color:inherit;
  text-decoration:none !important;
}

@mixin t_style_hover() {
  background-color:transparent;
  color:inherit;
}



$padsize: 1.1rem;

//query widths:

$small-max:40em;
$medium:40.063em; /* min-width 641px, medium screens */
$medium-max:64em;
$large:64.063em; /* min-width 1025px, large screens */
$large-max:90em;
$xlarge:90.063em; /* min-width 1441px, xlarge screens */
$xlarge-max:120em;
$xxlarge:120.063em; /* min-width 1921px, xxlarge screens */


//font-sizes

$ms0: 1rem;
$r: 1.8;

$ms1: $r*$ms0;
$ms2: $r*$ms1;
$ms3: $r*$ms2;
$ms4: $r*$ms3;
$ms5: $r*$ms4;

$line_r:1.2;


body {  
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
  
  color:$typecolor;
  background-color:$bgcolor;
  //font-family:'DejaVu Sans';  
}

a {
  color:$grey;
}

p a {
   text-decoration:underline;
}

h1,h2,h3,h4 {
  color:$grey;
}

h1 {
  font-size:$ms3;
}

h2 {
  font-size:$ms2;
}

h3 {
  font-size:$ms1;
}

h4 {
  font-size:$ms0;
  font-weight:bold;
}


/************** STYLES **************/


div#wrapper {
  padding-top:2rem;  
}

.left {
  text-align:left;
}

.right {
  text-align:right;
}


select {
  border:1px solid transparent;
  //border-bottom:1px dotted black;
  color:inherit;
  font-size: inherit;
  line-height: inherit;
  height: inherit;
  background:transparent;
  background-image:none;
  box-shadow:none;    
  padding:0;
  padding-right:1em;
  -moz-appearance:none;
  margin-bottom:0;
  width:100%;
  z-index:1;
  
  option {
    color:inherit;
  }  
  
  &:hover {
    border-color:transparent !important;
    background-color:transparent;
  } 
  
   
}

label {
  color:inherit;
}

.select {
  border:1px solid transparent;
  &:after {
    content:"⌄";
    display:inline-block;
    font-family:'dejavu_sansbold';
    width:1em;
    position: absolute;
    text-align:right;
    right: 1rem;
    z-index:-1;
  }
  
  &:hover {
    //background-color:$lightgray;
  }
}

.js .select {
  &:after {
    content:"";
  }
  
  span {
    display:inline-block;
    width:100%;
    padding-right:1rem !important;
    
    &:after {
      content:"⌄";
    display:inline-block;
    font-family:'dejavu_sansbold';
    width:1em;
    position: absolute;
    line-height:1em;
    text-align:middle;
    text-align:right;
    right: 1rem;
    z-index:-1;
    }
  }
}

/************ INTRO PAGE ****************/

#intro {
 // display: flex;
  //justify-content: center;
  //align-items: center;
}

/************** TOPBAR **************/

.top-bar {
  background-color:transparent;
  color:inherit;
  font-size:$ms0 !important;
  text-transform:none !important;
  
  //@include t_style();
  
  .toggle-topbar a {
    color:inherit;
    text-transform: none;
    font-weight: normal;
    font-size: 1rem;
    //border-left: 1px solid $t_border;
    padding-left: 1rem;
    
  }
  
}

.top-bar.expanded .title-area {
  background-color:transparent;
  color:inherit;
  
  
}


.top-bar-section {
  
  ul li{ 
    background-color:transparent;
    > a {
      color:inherit;
    }
  }
  
  li:not(.has-form) {
    a:not(.button)  {
      background-color:transparent;
      @include t_style();
      line-height:44px; //minus 1px from default, else it fucks up the entire Foundation layout
    }
    
    a:hover:not(.button) {
      @include t_style_hover();
    }    
  }
  
  ul li:hover:not(.has-form) > a {    
      @include t_style_hover();
  }
  
  .dropdown {
    
    li a {
      color:inherit;
    } 
    
    li:not(.has-form):not(.active) > a:not(.button) {
      background-color:transparent;
      color:inherit;
    }
    
    li:hover:not(.has-form):not(.active) > a:not(.button) {
      @include t_style_hover();
    }
    
  }  
  
  li.active:not(.has-form) a:not(.button) {
    @include t_style_hover();
  }
  
  li.active:not(.has-form) a:hover:not(.button) {
    @include t_style_hover();
  }
  
}

#menutitle {
  height:45px;
  line-height:42px;
  color:$grey;
  text-decoration:none;
  
  @media screen and (min-width: $medium) {
     // display:none; //do not show elsewhere but mobile
    }
}


/************** HEADING **************/

header#pagetitle {
  display:none;
  
  @media screen and (min-width: $medium) {
      height:5*$ms2;
    } 
  
  
  
  //text-align:center;
  
  h1 {
    font-size:$ms2;
    height:$ms5;
    margin-top:$ms3;
    
    span#subtitle {
      display:none; //not on mobile
      font-size:$ms0;
      
      @media screen and (min-width: $medium) {
        display:block;
        //text-align:center;
      }
    }
  }
  
}

/************** SEARCH.PHP **************/

#search-box {
  
}

#searchform {
  font-size:$ms0*2;
  line-height:1.2;
  margin:0;
  padding:0;
  
  label, input, span {
    color:inherit;
    font-size:inherit;
    line-height:inherit;
    margin:inherit;
    padding:inherit;
    padding-left:3px;
  }
  
  input[type="text"] {
    border:1px solid transparent;
    //border-bottom:1px dotted black;
    background:none;
    box-shadow:none;
    transition:none;
    height:auto;
  }
  
  input[type="text"]:focus {
    box-shadow:none;
  }
 
  #add-query {
    font-size:1rem;
    line-height:1.5em;
    vertical-align:top;
  }
  
  #search-submit {
    margin-top:1rem;
    display:block;
    padding:0.2em;
    //border-top:1px solid $t_border;
    
  }
  
  #submit-button {
    background:transparent;
    font-size:inherit;
    font-family:inherit;
    display:inline;
    margin:0;
    padding:0;
    margin-right: 0.6rem;
    margin-top:$padsize;
    //margin-bottom:$padsize;
    //border-bottom:1px solid $secondary;
    
    &:hover,&:focus {
    }
  }
  
  button[type="submit"] {
    
  }
  
  .logic {
    color:tint($grey,60%);
    em {
      font-style:normal;
      color:$grey;
    }
  }
  
  .dropdown {
    list-style:none;
    margin:0;
    margin-top:0.5rem;
  }
  
  .dropdown li {
    border-bottom: 1px solid transparent;
    line-height: 3rem;
    padding: 0 0.5rem;
  }
  
  div.switch.small label::after {
    top:0.05rem
    
  }
  
  div.switch.small label::after {
    height:0.75rem;
    width:0.75rem;
  }
  
  div.switch.small input:checked + label::after {
    left: 1.5rem;
  }

  div.switch.small label {
      height: 1rem;
      width: 2.5rem;
  }
}

#nonpriv-groups {
  margin-top:$padsize;
  margin-bottom:$padsize;
  font-size:$ms0;
  
  .show-only {
    font-size:$ms1;
  }
  
  .switch-box, .switch-label {
    display:inline-block;
    //text-align:center;
    height:1.75rem;
    line-height:1rem;
    vertical-align:middle;
  }
  
  .switch-label {
    padding-left:$padsize/2;    
  }
  
  .switch-box .switch {
    label {
      background-color:transparent;
      border:1px solid; //color in .style
    }
  }
  
  ul {
    list-style:none;
    margin:0;
    margin-top:$padsize/2;
    padding:0;
    
     li {
       //margin-bottom:1rem;
    }    
  }
}

#list-box {
  //padding-top:$ms2;
  //border-left:1px solid $t_border;
  
  div.portrait {
    float:left;
    height:4rem;
    width:1rem;
    text-align:center;
    overflow:hidden;
    
    img {
      position:relative;
      left:50%;
    }
  }
  
  ol {
    margin-left:0;
    margin-bottom:$padsize*2;
    list-style:none;
    
    
  li.woman {
      //margin-bottom:$padsize;
      padding-bottom:$padsize;
      margin:0;
      margin-left:0.001rem;
      margin-bottom:-4px;
      position:relative;
      border-left:3px solid transparent;
      display:none;
      //padding-left:$padsize;
      //padding:0 $padsize;
      //border:1px solid transparent;
      //border-width:1px 0;
      //border-left:1px solid transparent;
      
      &.page-1 {
        display:block;
      }
      
      .search-tagline {
        margin:$padsize/2 0;
        
        .more {
          text-decoration:none;
        }
      }
      
      .tags {
        margin-bottom:$padsize/2;
      }
      
      h3 {
        margin-bottom:0;
      }
      
      .specs ul {
        list-style:none;
        margin:0;
        padding:0;
      }
      .actions {
        visibility:hidden;
      }
      
      &.selected .actions {
        visibility:visible;
      }
            
      &:hover .actions {
        visibility:visible;        
      }
      
      .img-side {
        width:1rem;
        position:absolute;
        height:100%;
        margin:0;
        padding:0;
        overflow:hidden;
        background-repeat:no-repeat;
        background-position:center center;
        -o-background-size: left 100%, auto;
        -moz-background-size: left 100%, auto;
        -webkit-background-size: left 100%, auto;
        background-size: left 100%, auto;
        
        &:before {
          content:"";
          display:block;
          position:absolute;
          height:100%;
          width:100%;          
        }        
      }
      
      .woman-cont {
        margin-left:2rem;
      }
    } 
  }
  
  &.interactive li.woman {
    &.selected {
        //list-style:bullet;
        
        
        h3:before {
          content:'– ';                    
        }
      }
      
      &:hover {
        //color in style
      }
  }
  
  ul.action-buttons {
      list-style:none;
      margin-left:0;
      //display:table;
      
      
      li {
        //display:table-cell;
        border:1px solid #ddd;
        text-align:center;
      }
      
      li:nth-child(2){
        text-align:left;
        padding-left:1em;
      }
    }
    
  .specs ul li {
    display:inline;
    
    &:before {
      content:"– ";
    }
    &:first-child:before {
      content:"";
    }
    
    @media screen and (min-width: $medium) {
        display:block;
        
        &:before {
          content:"";
        }
        //text-align:center;
      }
  }
  
}

#query-count {
  font-size:0.8rem;
  margin-left:$padsize;
  margin-bottom:$padsize;
}

#list-sort-controls {
    margin-bottom:$padsize;
}

#list-actions {
  //display:none;
  visibility:hidden;
  
  ul {
    margin:0;
    padding:0;
    list-style:none;
    padding-left:$padsize;
    
    li {        
      //display:inline;
    }
  }
}

#sort-actions {
  text-align:right;
  padding-right:$padsize;
  
  label {
    display:inline;
    font-size:inherit;
  }
  
  select {
   // display:inline-block;
    width:auto;
  }
  
  .select {
    width:auto;
    display:inline-block;
    &.sort {
    display:none;
    }
    
    &.active {
      display:block;
    }
    
    &:after {
     //display:none;
     //position: relative;
     //left: 0em;
     //line-height: 0.1em;
     //bottom: 0.2em;
    }
  }
  
  
}

 
.f-dropdown {
     &::before,&::after {
       border-color:transparent;
     }
     
     li {
       border-bottom:1px solid transparent;
       
       &:hover {
         background-color:transparent;
       }
     }
     border:0;
   } 
  
#end-of-results, #loader {
  margin-top:$padsize*2;
}


/************** SINGLE.PHP **************/

article.woman {
  //padding:$padsize;
  //width:auto;
    
  .category_and_tags div, .non_priv_groups div {
    margin-bottom:$padsize/2;
  }
  
  
  .story {
    
    p:first-child {
      padding-top:$padsize*2;
    }
  }
  
  .links, .lists, .successes {
    ul {
      list-style:none;
      margin-left:0;      
    }
  }
  
  .dates {
    font-style:italic;
  }
  
  .lists {
    margin-bottom:$padsize;
    
    h3 {
      margin-bottom:$padsize;
    }
    
    a {
      text-decoration:none;
    }
    
    
    
  }
    
  .links {
    img {
      display:inline;
    }
  }
  
  footer {
    clear:both;
    margin-top:$padsize;
    border-top:1px solid $grey;
      padding-top:$padsize;
  }
  
  
}

article.woman .tagline, article#user-list .tagline {
    font-size:$ms1;
    line-height:1.2;
    padding-bottom:1em;
}

.thumb-box {
  text-align:center;
}
img.thumb {
  width:125px;
  display:block;
}

.thumb-placeholder {
  width:100px;
  height:100px;
  line-height:100px;
  font-size:4rem;  
}


.notice {
  font-size:0.8rem;
  margin-left:2rem;
}

#side-col header {
  //margin-right:2rem;
  padding:$padsize;
}

#side-col {
  @media screen and (min-width: $medium) {
    padding-right:$padsize*2;
  }
}


div.portrait-img {
    //width:100%;
    max-height:8em;
    overflow:hidden;
    padding:0;
    margin:0;
    margin-bottom:2rem;
    
    img {
      width:100%;
      position:relative;
      top:100%;
      margin-top:-200%;
      
      @media screen and (min-width: $medium) {
        top:0;
        margin-top:0;
      }
    }
    
     @media screen and (min-width: $medium) {
      max-height:50em;
      margin-right:$padsize;      
    }
    
    
      
  }
  
.other-portraits .img-box {
  display:inline-block;
  width:3rem;
  height:3rem;
  img {
    width:3rem;
  }
}

/************** LIST.PHP **************/

#user-list {
  ol {
    list-style:none;
  }
  .list-desc p {
    font-size:$ms1;
    line-height:1.2;
    padding-bottom:1em;
  }
  
  .woman .description {
    margin-top:$padsize;
    margin-bottom:2*$padsize;
    padding-left:4*$padsize;
    
    & p:before {
      content:"– ";
      display:inline;
    }
  }
}


/************** FOOTER **************/

footer#pagefooter {
  //height:10em;
}


/************** STYLESETS **************/

$colors-list: #FF0063 green blue; //indexes from 1? wat?

$color-pairs: (#333,white) (#ff0063,black) (green,black) (green,white) (blue,#abc);

$colorsets: (rgb(110, 16, 159),yellow,white) (#00954B,#FFFF7C,white) (#FF4100,yellow,white) (#226666,yellow,white) (#051E94,yellow,white) (#8FA810,yellow,white);
//good: #226666
//bad: (#ff0063,shade(#ff0063,60%),black)
// (accent,background top, background bottom)

$num:length($colorsets);

@for $i from 1 through $num {
  
    .style#{$i} {
      $colors: nth($colorsets, $i);
      $accent:nth($colors,1);
      $bg_color:nth($colors,2);
      $bg_base:nth($colors,3);
      //$grey: fade-out($accent,0.3);
      $grey:tint($accent,0.3);
      //$bg_color:#a02035;
      //$bg_base: black;
      //$bg_color:mix($accent,$bg_base,45%);
      //$type_color:invert($bg_base);
      $type_color: contrast-color($bg_base, shade($bg_base, 90%), tint($bg_base, 90%),50%);
      //$bg_base:white;
      //$type_color: contrast-color($bg_base);
     
      background: $bg_color; /* Old browsers */
      background: $bg_base -moz-linear-gradient(top, $bg_color 0%, $bg_base 50%); /* FF3.6+ */
      background: $bg_base -webkit-gradient(linear, left top, left bottom, color-stop(0%,$bg_color), color-stop(50%,$bg_base)); /* Chrome,Safari4+ */
      background: $bg_base -webkit-linear-gradient(top, $bg_color 0%,$bg_base 50%); /* Chrome10+,Safari5.1+ */
      background: $bg_base -o-linear-gradient(top, $bg_color 0%,$bg_base 50%); /* Opera 11.10+ */
      background: $bg_base -ms-linear-gradient(top, $bg_color 0%,$bg_base 50%); /* IE10+ */
      background: $bg_base linear-gradient(to bottom, $bg_color 0%,$bg_base 50%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$bg_color', endColorstr='$bg_base',GradientType=0 ); /* IE6-9 */
      background-repeat:no-repeat;
      color:$type_color !important;
      
      
      #searchform {
        //font-size:2.15rem;
      }
      
      .f-dropdown, #searchform .dropdown li {
        background-color:$bg_base;
      }
      .f-dropdown {
        border:1px solid fade-out($grey,0.2);
        &::before {
          border-bottom-color:$bg_base;
        }
        
        &::after {
          border-bottom-color:$grey;
        }
      }
      
      .f-dropdown li, #searchform .dropdown li {
        border-bottom-color:$bg_color;
        a {
          color:$grey;
        }
        
        &:hover a {
          color:$accent;
        }
      }
      
      
      //"grey":
      a,
      h1,h2,h3,h4,
      #searchform .logic,
      #select-women,
      .select:hover,
      #list-sort-controls
      {
        color:$grey;
      }
      
      select:hover option {
        color:$type_color;
      }
    
      #searchform input {
        &:-moz-placeholder { /* Firefox 18- */
          color:$accent;
        }
        &::-moz-placeholder { /* Firefox 19+ */
          color:$accent;
        }
        &:-ms-input-placeholder {
          color:$accent;
        }
        &::-webkit-input-placeholder {
          color:$accent;
        }
      }
      
      #searchform .logic {
        color:fade-out($accent,0.7);
        
        em {
          color:$type_color;
        }
      }
      
      //grey border
      input[type='text']:hover,
      .select:hover,
      .switch-box .switch label,
      .thumb-placeholder,
      footer {
        border-color:$grey !important;
      }
      
      .switch-box .switch input:checked + label,
      .thumb-placeholder
       {
        background-color:fade-out($bg_color,0.7) !important;
      }
      
      .switch-box .switch label::after {
        background-color:$accent;
      }
      
      //faded out grey 
      .category_and_tags,
      .non_priv_groups,
      .tags {
        color:fade-out($accent,0.5);
      }
      
      
      //accent
      a:hover,a:focus,
      .woman.selected h3 a,
      #menutitle,
      .description p:before,
      #submit-button,
      #list-box.interactive li.woman:hover 
       {
        color: $accent !important;
      }
      
      
      #list-box.interactive li.woman .img-side {
          background-color:fade-out($bg_color,0.8);
      }
      
      #list-box.interactive li.woman:hover, #list-box.interactive li.woman.selected{
        
        .img-side{
          background-color:transparent;
          
          &:before {
            background-color:fade-out($accent,0.5);
          }
        }          
      }
      
      /*
      
      #list-box.interactive li.woman .img-side {
        background-color:fade-out($bg_color,0.8);
      }
            
      #list-box.interactive li.woman:hover .img-side {
        &::before {
          background-color:fade-out($bg_color,0.5);
        }
      }
      
      li.woman.selected .img-side {
        background-color:transparent;
      }
      
      li.woman.selected .img-side::before {
        background-color:fade-out($accent,0.5);
      }
      
      li.woman.selected:hover .img-side::before {
        background-color:transparent;
      }
      
      */

      #searchform,
      h2.name, 
      h2.title {
        //?
      } 
        
    }
}

