/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* min-width 641px, medium screens */
/* min-width 1025px, large screens */
/* min-width 1441px, xlarge screens */
/* min-width 1921px, xxlarge screens */
/* line 35, ../sass/screen.scss */
body {
  background: #fcfcfc;
  color: #333333;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
}

/************** TEMP (DEVSTYLES) **************/
/* line 49, ../sass/screen.scss */
body#blank * {
  color: transparent !important;
}
/* line 53, ../sass/screen.scss */
body#blank div, body#blank ol, body#blank ul, body#blank li, body#blank canvas {
  background-color: rgba(200, 0, 50, 0.1);
}
/* line 57, ../sass/screen.scss */
body#blank canvas#header-graphics {
  background-color: rgba(50, 0, 200, 0.1);
}
/* line 60, ../sass/screen.scss */
body#blank header#pagetitle, body#blank footer#pagefooter {
  background-color: rgba(0, 50, 200, 0.1);
}
/* line 65, ../sass/screen.scss */
body#blank #list-box li {
  background-color: rgba(0, 200, 0, 0.1);
}

/* line 73, ../sass/screen.scss */
body#outline div, body#outline ol, body#outline ul, body#outline li, body#outline canvas {
  border: 1px solid rgba(200, 0, 50, 0.1);
}

/************** STYLES **************/
/* line 83, ../sass/screen.scss */
div#wrapper a {
  color: #e0144e;
}
/* line 87, ../sass/screen.scss */
div#wrapper a:hover {
  color: #9c0e36;
}
/* line 91, ../sass/screen.scss */
div#wrapper .button {
  background-color: #e0144e;
  color: white;
}
/* line 96, ../sass/screen.scss */
div#wrapper .button:hover {
  color: #f5b8c9;
}
/* line 102, ../sass/screen.scss */
div#wrapper ul.pagination li.current a {
  background-color: #e0144e;
  color: white;
}

/************** TOPBAR **************/
/* line 112, ../sass/screen.scss */
.top-bar {
  background-color: #e2e2e2;
  color: #333333;
}
/* line 116, ../sass/screen.scss */
.top-bar .toggle-topbar a {
  color: #333333;
}

/* line 122, ../sass/screen.scss */
.top-bar.expanded .title-area {
  background-color: #e2e2e2;
  color: #333333;
}

/* line 131, ../sass/screen.scss */
.top-bar-section ul li > a {
  color: #333333;
}
/* line 136, ../sass/screen.scss */
.top-bar-section li:not(.has-form) a:not(.button) {
  background-color: #e2e2e2;
}
/* line 140, ../sass/screen.scss */
.top-bar-section li:not(.has-form) a:hover:not(.button) {
  background-color: #cbcbcb;
}
/* line 145, ../sass/screen.scss */
.top-bar-section ul li:hover:not(.has-form) > a {
  background-color: #cbcbcb;
}
/* line 151, ../sass/screen.scss */
.top-bar-section .dropdown li a {
  color: #333333;
}
/* line 155, ../sass/screen.scss */
.top-bar-section .dropdown li:not(.has-form):not(.active) > a:not(.button) {
  background-color: #e2e2e2;
  color: #333333;
}
/* line 160, ../sass/screen.scss */
.top-bar-section .dropdown li:hover:not(.has-form):not(.active) > a:not(.button) {
  background-color: #cbcbcb;
}
/* line 166, ../sass/screen.scss */
.top-bar-section li.active:not(.has-form) a:not(.button) {
  background-color: #e0144e;
}
/* line 170, ../sass/screen.scss */
.top-bar-section li.active:not(.has-form) a:hover:not(.button) {
  background-color: #9c0e36;
}

/* line 176, ../sass/screen.scss */
#menutitle {
  color: #333333;
}
@media screen and (min-width: 40.063em) {
  /* line 176, ../sass/screen.scss */
  #menutitle {
    display: none;
  }
}

/************** HEADING **************/
/* line 187, ../sass/screen.scss */
header#pagetitle {
  display: none;
  height: 5em;
  text-align: center;
}
/* line 194, ../sass/screen.scss */
header#pagetitle h1 {
  font-size: 2rem;
  height: 5rem;
  margin-top: 4rem;
}
/* line 199, ../sass/screen.scss */
header#pagetitle h1 span#subtitle {
  display: none;
  font-size: 1rem;
}
@media screen and (min-width: 40.063em) {
  /* line 199, ../sass/screen.scss */
  header#pagetitle h1 span#subtitle {
    display: block;
    text-align: center;
  }
}

/************** SEARCH.PHP **************/
/* line 214, ../sass/screen.scss */
#search-box {
  padding: 1.1em;
  background-color: #eee;
}
/* line 218, ../sass/screen.scss */
#search-box ol {
  margin-left: 0;
  list-style: none;
}
@media screen and (min-width: 40.063em) {
  /* line 223, ../sass/screen.scss */
  #search-box .search-row.minimized {
    display: none;
  }
}
/* line 229, ../sass/screen.scss */
#search-box .search-mode-toggle {
  padding-bottom: 1em;
}
/* line 232, ../sass/screen.scss */
#search-box .search-mode-toggle input[type="radio"] {
  display: none;
}
/* line 236, ../sass/screen.scss */
#search-box .search-mode-toggle .button {
  margin-right: 0;
  margin-left: 0;
  padding-right: 0.5em;
  padding-left: 0.5em;
  width: 48%;
  line-height: 60%;
  background-color: #f5b8c9;
}
/* line 246, ../sass/screen.scss */
#search-box .search-mode-toggle input[type="radio"]:checked + label {
  background-color: #e0144e;
}
/* line 252, ../sass/screen.scss */
#search-box .centered {
  text-align: center;
  line-height: 2.125rem;
  display: block;
  text-align: center;
  width: 100%;
  font-size: 0.875rem;
}
/* line 262, ../sass/screen.scss */
#search-box .added-row div.no-label-col {
  padding-top: 0;
}
/* line 266, ../sass/screen.scss */
#search-box .added-row label.explanatory {
  display: none;
}
@media screen and (min-width: 40.063em) {
  /* line 271, ../sass/screen.scss */
  #search-box div.no-label-col {
    padding-top: 1.3125rem;
  }
}
/* line 279, ../sass/screen.scss */
#search-box a.plus-query {
  background-color: transparent;
  color: #39ba39;
  font-weight: bold;
  font-size: 2em;
  text-align: left;
}
@media screen and (min-width: 40.063em) {
  /* line 279, ../sass/screen.scss */
  #search-box a.plus-query {
    text-align: center;
  }
}
/* line 291, ../sass/screen.scss */
#search-box a.plus-query:hover {
  color: #60c760;
}
/* line 295, ../sass/screen.scss */
#search-box span.plus-query-text {
  font-size: 0.5em;
  vertical-align: middle;
}
@media screen and (min-width: 40.063em) {
  /* line 295, ../sass/screen.scss */
  #search-box span.plus-query-text {
    display: none;
  }
}

/* line 310, ../sass/screen.scss */
#list-box ol {
  margin-left: 0;
  list-style: none;
}
/* line 314, ../sass/screen.scss */
#list-box ol li.woman {
  padding: 1.1em;
  margin: 1.1em 0;
}
/* line 318, ../sass/screen.scss */
#list-box ol li.woman ul.action-buttons {
  list-style: none;
  margin-left: 0;
}
/* line 324, ../sass/screen.scss */
#list-box ol li.woman ul.action-buttons li {
  border: 1px solid #ddd;
  text-align: center;
}
/* line 330, ../sass/screen.scss */
#list-box ol li.woman ul.action-buttons li:nth-child(2) {
  text-align: left;
  padding-left: 1em;
}
/* line 338, ../sass/screen.scss */
#list-box .pagination {
  text-align: center;
}

/************** SINGLE.PHP **************/
/* line 349, ../sass/screen.scss */
article.woman div.portrait-img {
  width: 100%;
  height: 8em;
  overflow: hidden;
}
/* line 354, ../sass/screen.scss */
article.woman div.portrait-img img {
  width: 100%;
  position: relative;
  top: -50%;
}
/* line 361, ../sass/screen.scss */
article.woman .inner {
  padding: 1.1em;
}
/* line 364, ../sass/screen.scss */
article.woman .inner .tagline {
  border-bottom: 1px solid #bbbbbb;
  padding-bottom: 1em;
}
/* line 369, ../sass/screen.scss */
article.woman .inner .story {
  text-align: justify;
}

/************** FOOTER **************/
/* line 378, ../sass/screen.scss */
footer#pagefooter {
  height: 10em;
}
