@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* min-width 641px, medium screens */
/* min-width 1025px, large screens */
/* min-width 1441px, xlarge screens */
/* min-width 1921px, xxlarge screens */
/* line 54, ../sass/screen.scss */
body {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
  color: #333333;
  background-color: white;
}

/* line 65, ../sass/screen.scss */
a {
  color: #7f7f7f;
}

/* line 69, ../sass/screen.scss */
p a {
  text-decoration: underline;
}

/* line 73, ../sass/screen.scss */
h1, h2, h3, h4 {
  color: #7f7f7f;
}

/* line 77, ../sass/screen.scss */
h1 {
  font-size: 3.375rem;
}

/* line 81, ../sass/screen.scss */
h2 {
  font-size: 2.25rem;
}

/* line 85, ../sass/screen.scss */
h3 {
  font-size: 1.5rem;
}

/* line 89, ../sass/screen.scss */
h4 {
  font-size: 1rem;
  font-weight: bold;
}

/************** STYLES **************/
/* line 98, ../sass/screen.scss */
div#wrapper {
  padding-top: 2rem;
}

/* line 102, ../sass/screen.scss */
.left {
  text-align: left;
}

/* line 106, ../sass/screen.scss */
.right {
  text-align: right;
}

/* line 111, ../sass/screen.scss */
select {
  border: 0;
  color: inherit;
  font-size: inherit;
  line-height: inherit;
  height: inherit;
  background: transparent;
  background-image: none;
  box-shadow: none;
  padding: 0;
  -moz-appearance: none;
  margin-bottom: 0;
  width: 100%;
  z-index: 1;
}
/* line 127, ../sass/screen.scss */
select option {
  color: inherit;
}
/* line 131, ../sass/screen.scss */
select:hover {
  background-color: transparent;
}

/* line 138, ../sass/screen.scss */
label {
  color: inherit;
}

/* line 143, ../sass/screen.scss */
.select:after {
  content: "⌄";
  display: inline-block;
  width: 1em;
  position: absolute;
  text-align: right;
  right: 1rem;
  z-index: -1;
}

/************** TOPBAR **************/
/* line 160, ../sass/screen.scss */
.top-bar {
  background-color: transparent;
  color: inherit;
  font-size: 1rem !important;
  text-transform: none !important;
}
/* line 168, ../sass/screen.scss */
.top-bar .toggle-topbar a {
  color: inherit;
  text-transform: none;
  font-weight: normal;
  font-size: 1rem;
  padding-left: 1rem;
}

/* line 180, ../sass/screen.scss */
.top-bar.expanded .title-area {
  background-color: transparent;
  color: inherit;
}

/* line 190, ../sass/screen.scss */
.top-bar-section ul li {
  background-color: transparent;
}
/* line 192, ../sass/screen.scss */
.top-bar-section ul li > a {
  color: inherit;
}
/* line 198, ../sass/screen.scss */
.top-bar-section li:not(.has-form) a:not(.button) {
  background-color: transparent;
  background-color: transparent;
  color: inherit;
  text-decoration: none !important;
  line-height: 44px;
}
/* line 204, ../sass/screen.scss */
.top-bar-section li:not(.has-form) a:hover:not(.button) {
  background-color: transparent;
  color: inherit;
}
/* line 209, ../sass/screen.scss */
.top-bar-section ul li:hover:not(.has-form) > a {
  background-color: transparent;
  color: inherit;
}
/* line 215, ../sass/screen.scss */
.top-bar-section .dropdown li a {
  color: inherit;
}
/* line 219, ../sass/screen.scss */
.top-bar-section .dropdown li:not(.has-form):not(.active) > a:not(.button) {
  background-color: transparent;
  color: inherit;
}
/* line 224, ../sass/screen.scss */
.top-bar-section .dropdown li:hover:not(.has-form):not(.active) > a:not(.button) {
  background-color: transparent;
  color: inherit;
}
/* line 230, ../sass/screen.scss */
.top-bar-section li.active:not(.has-form) a:not(.button) {
  background-color: transparent;
  color: inherit;
}
/* line 234, ../sass/screen.scss */
.top-bar-section li.active:not(.has-form) a:hover:not(.button) {
  background-color: transparent;
  color: inherit;
}

/* line 240, ../sass/screen.scss */
#menutitle {
  height: 45px;
  line-height: 42px;
  color: #7f7f7f;
  text-decoration: none;
}

/************** HEADING **************/
/* line 254, ../sass/screen.scss */
header#pagetitle {
  display: none;
}
@media screen and (min-width: 40.063em) {
  /* line 254, ../sass/screen.scss */
  header#pagetitle {
    height: 11.25rem;
  }
}
/* line 265, ../sass/screen.scss */
header#pagetitle h1 {
  font-size: 2.25rem;
  height: 7.59375rem;
  margin-top: 3.375rem;
}
/* line 270, ../sass/screen.scss */
header#pagetitle h1 span#subtitle {
  display: none;
  font-size: 1rem;
}
@media screen and (min-width: 40.063em) {
  /* line 270, ../sass/screen.scss */
  header#pagetitle h1 span#subtitle {
    display: block;
  }
}

/************** SEARCH.PHP **************/
/* line 289, ../sass/screen.scss */
#searchform {
  font-size: 2rem;
  line-height: 1.2;
  margin: 0;
  padding: 0;
}
/* line 295, ../sass/screen.scss */
#searchform label, #searchform input, #searchform span {
  color: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: inherit;
  padding: inherit;
  padding-left: 3px;
}
/* line 304, ../sass/screen.scss */
#searchform input[type="text"] {
  border: none;
  background: none;
  box-shadow: none;
  transition: none;
}
/* line 317, ../sass/screen.scss */
#searchform input[type="text"]:focus {
  box-shadow: none;
}
/* line 321, ../sass/screen.scss */
#searchform #add-query {
  font-size: 1rem;
  line-height: 1.5em;
  vertical-align: top;
}
/* line 327, ../sass/screen.scss */
#searchform #search-submit {
  margin-top: 1rem;
  display: block;
  padding: 0.2em;
}
/* line 335, ../sass/screen.scss */
#searchform #submit-button {
  background: transparent;
  font-size: inherit;
  font-family: inherit;
  display: inline;
  margin: 0;
  padding: 0;
}
/* line 352, ../sass/screen.scss */
#searchform .logic {
  color: #cbcbcb;
}
/* line 354, ../sass/screen.scss */
#searchform .logic em {
  font-style: normal;
  color: #7f7f7f;
}

/* line 362, ../sass/screen.scss */
#nonpriv-groups {
  margin-top: 2.2rem;
  margin-bottom: 1.1rem;
  font-size: 1rem;
  line-height: 1.5;
}
/* line 368, ../sass/screen.scss */
#nonpriv-groups ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font: inherit;
}
/* line 374, ../sass/screen.scss */
#nonpriv-groups ul li {
  font: inherit;
  color: inherit;
  position: relative;
}
/* line 379, ../sass/screen.scss */
#nonpriv-groups ul li label {
  color: inherit;
}
/* line 385, ../sass/screen.scss */
#nonpriv-groups label {
  display: inline-block;
  width: 100%;
  margin: 0;
}
/* line 395, ../sass/screen.scss */
#nonpriv-groups input[type="checkbox"] {
  position: absolute;
  right: 0;
}

/* line 401, ../sass/screen.scss */
#list-box {
  padding-top: 2.25rem;
}
/* line 405, ../sass/screen.scss */
#list-box div.portrait {
  float: left;
  height: 4rem;
  width: 1rem;
  text-align: center;
  overflow: hidden;
}
/* line 412, ../sass/screen.scss */
#list-box div.portrait img {
  position: relative;
  left: 50%;
}
/* line 418, ../sass/screen.scss */
#list-box ol {
  margin-left: 0;
  margin-bottom: 2.2rem;
  list-style: none;
}
/* line 424, ../sass/screen.scss */
#list-box ol li.woman {
  margin-bottom: 2.2rem;
  margin-left: 0.001rem;
  position: relative;
  border-left: 1px solid transparent;
}
/* line 437, ../sass/screen.scss */
#list-box ol li.woman.selected h3:before {
  content: '– ';
}
/* line 442, ../sass/screen.scss */
#list-box ol li.woman:hover {
  border-color: #7f7f7f;
}
/* line 446, ../sass/screen.scss */
#list-box ol li.woman .specs ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 452, ../sass/screen.scss */
#list-box ol li.woman .tags {
  display: none;
}
@media screen and (min-width: 64.063em) {
  /* line 452, ../sass/screen.scss */
  #list-box ol li.woman .tags {
    display: block;
  }
}
/* line 462, ../sass/screen.scss */
#list-box ul.action-buttons {
  list-style: none;
  margin-left: 0;
}
/* line 468, ../sass/screen.scss */
#list-box ul.action-buttons li {
  border: 1px solid #ddd;
  text-align: center;
}
/* line 474, ../sass/screen.scss */
#list-box ul.action-buttons li:nth-child(2) {
  text-align: left;
  padding-left: 1em;
}
/* line 480, ../sass/screen.scss */
#list-box .pagination {
  text-align: center;
}
/* line 485, ../sass/screen.scss */
#list-box .specs ul li {
  display: inline;
}
/* line 488, ../sass/screen.scss */
#list-box .specs ul li:before {
  content: "– ";
}
/* line 491, ../sass/screen.scss */
#list-box .specs ul li:first-child:before {
  content: "";
}
@media screen and (min-width: 40.063em) {
  /* line 485, ../sass/screen.scss */
  #list-box .specs ul li {
    display: block;
  }
  /* line 498, ../sass/screen.scss */
  #list-box .specs ul li:before {
    content: "";
  }
}

/* line 507, ../sass/screen.scss */
#list-sort-controls {
  margin-bottom: 1.1rem;
}

/* line 511, ../sass/screen.scss */
#list-actions {
  visibility: hidden;
}
/* line 515, ../sass/screen.scss */
#list-actions ul {
  margin: 0;
  padding: 0;
}
/* line 519, ../sass/screen.scss */
#list-actions ul li {
  display: inline;
}

/* line 525, ../sass/screen.scss */
#sort-actions {
  text-align: right;
  padding-right: 0;
}
/* line 529, ../sass/screen.scss */
#sort-actions label {
  display: inline;
  font-size: inherit;
}
/* line 534, ../sass/screen.scss */
#sort-actions select {
  display: inline-block;
  width: auto;
}
/* line 539, ../sass/screen.scss */
#sort-actions .select {
  display: inline-block;
}
/* line 541, ../sass/screen.scss */
#sort-actions .select.sort {
  display: none;
}
/* line 545, ../sass/screen.scss */
#sort-actions .select.active {
  display: inline;
}
/* line 549, ../sass/screen.scss */
#sort-actions .select:after {
  display: none;
  position: relative;
  left: 0em;
  line-height: 0.1em;
  bottom: 0.2em;
}

/* line 562, ../sass/screen.scss */
.search-tagline .more {
  text-decoration: none;
}

/************** SINGLE.PHP **************/
/* line 575, ../sass/screen.scss */
article.woman div.portrait-img {
  height: 8em;
  overflow: hidden;
  padding: 0;
  margin: 0;
  margin-bottom: 2rem;
}
/* line 583, ../sass/screen.scss */
article.woman div.portrait-img img {
  position: relative;
  top: -50%;
}
@media screen and (min-width: 40.063em) {
  /* line 575, ../sass/screen.scss */
  article.woman div.portrait-img {
    height: auto;
  }
}
/* line 594, ../sass/screen.scss */
article.woman .category_and_tags div {
  margin-bottom: 1.1rem;
}
/* line 601, ../sass/screen.scss */
article.woman .story p:first-child {
  padding-top: 2.2rem;
}
/* line 608, ../sass/screen.scss */
article.woman .links ul, article.woman .lists ul, article.woman .successes ul {
  list-style: none;
  margin-left: 0;
}
/* line 616, ../sass/screen.scss */
article.woman .lists h3 {
  margin-bottom: 1.1rem;
}
/* line 620, ../sass/screen.scss */
article.woman .lists a {
  text-decoration: none;
}
/* line 629, ../sass/screen.scss */
article.woman .links img {
  display: inline;
}
/* line 634, ../sass/screen.scss */
article.woman footer {
  clear: both;
  margin-top: 1.1rem;
  border-top: 1px solid #7f7f7f;
  padding-top: 1.1rem;
}

/* line 644, ../sass/screen.scss */
article.woman .tagline, article#user-list .tagline {
  font-size: 1.5rem;
  line-height: 1.2;
  padding-bottom: 1em;
}

/* line 650, ../sass/screen.scss */
.thumb-box {
  text-align: center;
}

/* line 653, ../sass/screen.scss */
img.thumb {
  width: 125px;
  display: block;
}

/* line 658, ../sass/screen.scss */
.notice {
  font-size: 0.8rem;
  margin-left: 2rem;
}

/* line 663, ../sass/screen.scss */
#side-col header {
  padding: 1.1rem;
}

/************** LIST.PHP **************/
/* line 671, ../sass/screen.scss */
#user-list ol {
  list-style: none;
}
/* line 674, ../sass/screen.scss */
#user-list .list-desc p {
  font-size: 1.5rem;
  line-height: 1.2;
  padding-bottom: 1em;
}
/* line 680, ../sass/screen.scss */
#user-list .woman .description {
  margin-top: 1.1rem;
  margin-bottom: 2.2rem;
  padding-left: 4.4rem;
}
/* line 685, ../sass/screen.scss */
#user-list .woman .description p:before {
  content: "– ";
  display: inline;
}

/************** FOOTER **************/
/* line 695, ../sass/screen.scss */
footer#pagefooter {
  height: 10em;
}

/************** STYLESETS **************/
/* line 708, ../sass/screen.scss */
.style0 {
  color: #333333;
}
/* line 728, ../sass/screen.scss */
.style0 h1, .style0 h2, .style0 h3,
.style0 #searchform,
.style0 #pagetitle a,
.style0 .tagline,
.style0 #user-list .list-desc {
  font-family: 'Arial';
}

/* line 743, ../sass/screen.scss */
.style1 a:hover, .style1 a:focus,
.style1 .woman.selected h3,
.style1 #searchform, .style1 #menutitle,
.style1 h2.name, .style1 h2.title {
  color: #FF6C00 !important;
}
/* line 747, ../sass/screen.scss */
.style1 .woman.selected {
  border-color: #FF6C00;
}
/* line 755, ../sass/screen.scss */
.style1 h1, .style1 h2, .style1 h3,
.style1 #searchform,
.style1 #pagetitle a,
.style1 article.woman .tagline,
.style1 #user-list .list-desc {
  font-family: "economicaregular";
}

/* line 770, ../sass/screen.scss */
.style-x .woman.selected {
  border-color: #FF6C00;
}
/* line 778, ../sass/screen.scss */
.style-x h1, .style-x h2, .style-x h3,
.style-x #searchform,
.style-x #pagetitle a,
.style-x article.woman .tagline,
.style-x #user-list .list-desc {
  font-family: "andada_scregular";
}

/* line 785, ../sass/screen.scss */
.style2 {
  color: #333333;
}
/* line 793, ../sass/screen.scss */
.style2 a:hover, .style2 a:focus,
.style2 .woman.selected h3,
.style2 #searchform, .style2 #menutitle,
.style2 h2.name, .style2 h2.title,
.style2 .woman.selected h3:before {
  color: #FF6C00 !important;
}
/* line 797, ../sass/screen.scss */
.style2 .woman:hover {
  border-color: #FF6C00;
}
/* line 806, ../sass/screen.scss */
.style2 h1, .style2 h2, .style2 h3,
.style2 #searchform,
.style2 #pagetitle a,
.style2 article.woman .tagline,
.style2 #user-list .list-desc {
  font-family: 'kelly_slabregular';
}

/* line 815, ../sass/screen.scss */
.style3 {
  color: #333333;
}
/* line 823, ../sass/screen.scss */
.style3 a:hover, .style3 a:focus,
.style3 .woman.selected h3,
.style3 #searchform, .style3 #menutitle,
.style3 h2.name, .style3 h2.title,
.style3 .woman.selected h3:before {
  color: #FF6C00 !important;
}
/* line 827, ../sass/screen.scss */
.style3 .woman:hover {
  border-color: #FF6C00;
}
/* line 836, ../sass/screen.scss */
.style3 h1, .style3 h2, .style3 h3,
.style3 #searchform,
.style3 #pagetitle a,
.style3 article.woman .tagline,
.style3 #user-list .list-desc {
  font-family: 'Arial';
  font-family: 'ostrich_sans_inlineregular';
  font-size: 2em;
}

/* line 847, ../sass/screen.scss */
.style4 {
  color: #333333;
}
/* line 855, ../sass/screen.scss */
.style4 a:hover, .style4 a:focus,
.style4 .woman.selected h3,
.style4 #searchform, .style4 #menutitle,
.style4 h2.name, .style4 h2.title,
.style4 .woman.selected h3:before {
  color: #FF6C00 !important;
}
/* line 859, ../sass/screen.scss */
.style4 .woman:hover {
  border-color: #FF6C00;
}
/* line 868, ../sass/screen.scss */
.style4 h1, .style4 h2, .style4 h3,
.style4 #searchform,
.style4 #pagetitle a,
.style4 article.woman .tagline,
.style4 #user-list .list-desc {
  font-family: 'Arial';
  font-family: 'six_capsregular';
  font-size: 3em;
}
