/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* min-width 641px, medium screens */
/* min-width 1025px, large screens */
/* min-width 1441px, xlarge screens */
/* min-width 1921px, xxlarge screens */
/* line 43, ../sass/screen.scss */
body {
  background: white;
  color: #333333;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
}

/************** TEMP (DEVSTYLES) **************/
/* line 57, ../sass/screen.scss */
body#blank * {
  color: transparent !important;
}
/* line 61, ../sass/screen.scss */
body#blank div, body#blank ol, body#blank ul, body#blank li, body#blank canvas {
  background-color: rgba(200, 0, 50, 0.1);
}
/* line 65, ../sass/screen.scss */
body#blank canvas#header-graphics {
  background-color: rgba(50, 0, 200, 0.1);
}
/* line 68, ../sass/screen.scss */
body#blank header#pagetitle, body#blank footer#pagefooter {
  background-color: rgba(0, 50, 200, 0.1);
}
/* line 73, ../sass/screen.scss */
body#blank #list-box li {
  background-color: rgba(0, 200, 0, 0.1);
}

/* line 81, ../sass/screen.scss */
body#outline div, body#outline ol, body#outline ul, body#outline li, body#outline canvas {
  border: 1px solid rgba(200, 0, 50, 0.1);
}

/************** STYLES **************/
/* line 91, ../sass/screen.scss */
div#wrapper a {
  color: #e0144e;
}
/* line 95, ../sass/screen.scss */
div#wrapper a:hover {
  color: #9c0e36;
}
/* line 99, ../sass/screen.scss */
div#wrapper .button {
  background-color: #e0144e;
  color: white;
}
/* line 104, ../sass/screen.scss */
div#wrapper .button:hover {
  color: #f5b8c9;
}
/* line 110, ../sass/screen.scss */
div#wrapper ul.pagination li.current a {
  background-color: #e0144e;
  color: white;
}

/************** TOPBAR **************/
/* line 120, ../sass/screen.scss */
.top-bar {
  background-color: white;
  color: #333333;
  background-color: white;
  color: #333333;
  border-bottom: 1px solid black;
}
/* line 126, ../sass/screen.scss */
.top-bar .toggle-topbar a {
  color: #333333;
}

/* line 134, ../sass/screen.scss */
.top-bar.expanded .title-area {
  background-color: white;
  color: #333333;
}

/* line 145, ../sass/screen.scss */
.top-bar-section ul li > a {
  color: #333333;
}
/* line 150, ../sass/screen.scss */
.top-bar-section li:not(.has-form) a:not(.button) {
  background-color: white;
  background-color: white;
  color: #333333;
  border-bottom: 1px solid black;
  line-height: 44px;
}
/* line 156, ../sass/screen.scss */
.top-bar-section li:not(.has-form) a:hover:not(.button) {
  background-color: #e5e5e5;
}
/* line 161, ../sass/screen.scss */
.top-bar-section ul li:hover:not(.has-form) > a {
  background-color: #e5e5e5;
}
/* line 167, ../sass/screen.scss */
.top-bar-section .dropdown li a {
  color: #333333;
}
/* line 171, ../sass/screen.scss */
.top-bar-section .dropdown li:not(.has-form):not(.active) > a:not(.button) {
  background-color: white;
  color: #333333;
}
/* line 176, ../sass/screen.scss */
.top-bar-section .dropdown li:hover:not(.has-form):not(.active) > a:not(.button) {
  background-color: #e5e5e5;
}
/* line 182, ../sass/screen.scss */
.top-bar-section li.active:not(.has-form) a:not(.button) {
  background-color: #e0144e;
}
/* line 186, ../sass/screen.scss */
.top-bar-section li.active:not(.has-form) a:hover:not(.button) {
  background-color: #9c0e36;
}

/* line 192, ../sass/screen.scss */
#menutitle {
  color: #333333;
}
@media screen and (min-width: 40.063em) {
  /* line 192, ../sass/screen.scss */
  #menutitle {
    display: none;
  }
}

/************** HEADING **************/
/* line 203, ../sass/screen.scss */
header#pagetitle {
  display: none;
  height: 5em;
  text-align: center;
}
/* line 210, ../sass/screen.scss */
header#pagetitle h1 {
  font-size: 2rem;
  height: 5rem;
  margin-top: 4rem;
}
/* line 215, ../sass/screen.scss */
header#pagetitle h1 span#subtitle {
  display: none;
  font-size: 1rem;
}
@media screen and (min-width: 40.063em) {
  /* line 215, ../sass/screen.scss */
  header#pagetitle h1 span#subtitle {
    display: block;
    text-align: center;
  }
}

/************** SEARCH.PHP **************/
/* line 230, ../sass/screen.scss */
#search-box {
  padding: 1.1rem;
  background-color: #eee;
}
/* line 234, ../sass/screen.scss */
#search-box ol {
  margin-left: 0;
  list-style: none;
}
@media screen and (min-width: 40.063em) {
  /* line 239, ../sass/screen.scss */
  #search-box .search-row.minimized {
    display: none;
  }
}
/* line 245, ../sass/screen.scss */
#search-box .search-mode-toggle {
  padding-bottom: 1em;
}
/* line 248, ../sass/screen.scss */
#search-box .search-mode-toggle input[type="radio"] {
  display: none;
}
/* line 252, ../sass/screen.scss */
#search-box .search-mode-toggle .button {
  margin-right: 0;
  margin-left: 0;
  padding-right: 0.5em;
  padding-left: 0.5em;
  width: 48%;
  line-height: 60%;
  background-color: #f5b8c9;
}
/* line 262, ../sass/screen.scss */
#search-box .search-mode-toggle input[type="radio"]:checked + label {
  background-color: #e0144e;
}
/* line 268, ../sass/screen.scss */
#search-box .centered {
  text-align: center;
  line-height: 2.125rem;
  display: block;
  text-align: center;
  width: 100%;
  font-size: 0.875rem;
}
/* line 278, ../sass/screen.scss */
#search-box .added-row div.no-label-col {
  padding-top: 0;
}
/* line 282, ../sass/screen.scss */
#search-box .added-row label.explanatory {
  display: none;
}
@media screen and (min-width: 40.063em) {
  /* line 287, ../sass/screen.scss */
  #search-box div.no-label-col {
    padding-top: 1.3125rem;
  }
}
/* line 295, ../sass/screen.scss */
#search-box a.plus-query {
  background-color: transparent;
  color: #39ba39;
  font-weight: bold;
  font-size: 2em;
  text-align: left;
}
@media screen and (min-width: 40.063em) {
  /* line 295, ../sass/screen.scss */
  #search-box a.plus-query {
    text-align: center;
  }
}
/* line 307, ../sass/screen.scss */
#search-box a.plus-query:hover {
  color: #60c760;
}
/* line 311, ../sass/screen.scss */
#search-box span.plus-query-text {
  font-size: 0.5em;
  vertical-align: middle;
}
@media screen and (min-width: 40.063em) {
  /* line 311, ../sass/screen.scss */
  #search-box span.plus-query-text {
    display: none;
  }
}

/* line 326, ../sass/screen.scss */
#list-box ol {
  margin-left: 0;
  list-style: none;
}
/* line 330, ../sass/screen.scss */
#list-box ol li.woman {
  padding: 1.1rem;
  margin: 1.1rem 0;
}
/* line 334, ../sass/screen.scss */
#list-box ol li.woman ul.action-buttons {
  list-style: none;
  margin-left: 0;
}
/* line 340, ../sass/screen.scss */
#list-box ol li.woman ul.action-buttons li {
  border: 1px solid #ddd;
  text-align: center;
}
/* line 346, ../sass/screen.scss */
#list-box ol li.woman ul.action-buttons li:nth-child(2) {
  text-align: left;
  padding-left: 1em;
}
/* line 354, ../sass/screen.scss */
#list-box .pagination {
  text-align: center;
}

/************** SINGLE.PHP **************/
/* line 365, ../sass/screen.scss */
article.woman div.portrait-img {
  height: 8em;
  overflow: hidden;
}
/* line 370, ../sass/screen.scss */
article.woman div.portrait-img img {
  width: 100%;
  position: relative;
  top: -50%;
}
@media screen and (min-width: 40.063em) {
  /* line 365, ../sass/screen.scss */
  article.woman div.portrait-img {
    height: auto;
  }
}
/* line 381, ../sass/screen.scss */
article.woman .inner {
  padding: 1.1rem;
}
/* line 384, ../sass/screen.scss */
article.woman .inner .tagline {
  border-bottom: 1px solid #bbbbbb;
  padding-bottom: 1em;
}
/* line 393, ../sass/screen.scss */
article.woman .inner header, article.woman .inner > div, article.woman .inner footer {
  padding: 1.1rem;
}
/* line 398, ../sass/screen.scss */
article.woman .inner .links ul, article.woman .inner .lists ul, article.woman .inner .successes ul {
  list-style: none;
  margin-left: 0;
}
/* line 405, ../sass/screen.scss */
article.woman .inner .lists img.thumb {
  width: 100%;
}
/* line 410, ../sass/screen.scss */
article.woman .inner footer p {
  border-top: 1px solid #bbbbbb;
  padding-top: 1em;
}

/************** FOOTER **************/
/* line 420, ../sass/screen.scss */
footer#pagefooter {
  height: 10em;
}
